<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Selenium Settings-->
    <add key="UseGrid" value="false" />
    <add key="GridUrl" value="http://riskitseleniumgrid:4444/wd/hub" />
    <!-- Using Chrome for Testing. But can be configured to use IE or Firefox in Team City Servers-->
    <add key="DriverToUse" value="Chrome" />
    <add key="TargetUrl" value="https://rb-shoe-store.herokuapp.com/" />
    <add key="ImplicitlyWait" value="30" />
    <add key="PageLoadTimeout" value="60" />
  </appSettings>
</configuration>